table#demo{  
  width: 100%;
  border-collapse: collapse;
}

th{
  background: #444;
  color: white
}

td,th {
  text-align: center;
  padding: 0.5em;
  border: 1px solid black;
}

tr:nth-child(even){
  background-color: #dddddd;
}

/* tr:nth-child(odd){
  background-color: paleturquoise;
} */

table#demo1{
  width:100%; 
  border-spacing:15px; 
  border: 1px solid black; 
  padding: 5px;
}
